.link {
    color:#fff;
    text-decoration: none;
    transition: 0.5s;
}
.link:hover {
    color:#fff;
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {

    .link {
        color:#10446F;
        text-decoration: none;
        transition: 0.5s;
    }
    .link:hover {
        color:#7FCAE7;
        text-decoration: underline;
    }


}